
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    color: white;
    font-size: large;
}

#preview{
    color:tomato;
}